<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Learn java with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/2.png" alt="herosection_images" style="margin-left: -100px;">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>We will teach you from basics to advance</h1>

                        <p>Start or advance your career as a Java Programmer with<span class="bold-style"> CodeInJava</span></p>
                        <button class="btn-style btn-primary">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
